!.gitkeep

# OS
.DS_Store
Thumbs.db

# Vim
*.swp
*.swo
~$*

ExcelWriter-Testsheet.xlsx
ExcelWriter-Testsheet-multi.xlsx
ExcelWriter-Testsheet-subtlelib.xlsx

# Intellij
.idea
*.ipr
*.iws
*.iml
.idea_modules

# Gradle
.gradle
dist
build

# Python
venv
gateway_app_venv

# Eslint
.eslintcache

.config-dev/*
!.config-dev/*.example

# Virtual environment
/service/zonewrapper/env
__pycache__

# K8s
.cr-release-packages

# Misc
*.launch
*.sublime-workspace
*.unison.tmp
.c9/
.cache/
.config/
.npm/
.sass-cache
.tmp
